body {
    font-family:arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
    font-size:1.4rem;
    background-color: #eee;
    -webkit-text-size-adjust:none;
    overflow-x: hidden;
}

html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td {
    margin: 0;
    padding: 0;
    font-weight:normal;
}
img {
    border: 0 none;
}
ul, li { list-style-type: none; }
h1, h2, h3, h4, h5, h6 { font-size:1.4rem; }
body, input, select, button, textarea {	   font-size:1.4rem;  }
button { cursor: pointer; }
i, em, cite { font-style: normal; }
a {text-decoration:none; }
a { cursor:pointer;}
a:hover{}
.clear { clear: both;}
.uk-subnav-b {
    background: #1c1c26 none repeat scroll 0 0;
    height: 900px;
    left: -80px;
    position: absolute;
    top: 0;
    width: 160px;
    z-index: -1;
}


#uk_menu .uk_mune_l {
    width: 80px;

}


































































































































































































































































































































































































































































































































































































































































































    font-size: 0;
}
.uk-fl{float: left;}
.uk-fr{float: right;}
.uk-box {width: 100%;  }
.uk-head {height:68px;background-color:#fff;box-shadow:0 2px 8px rgba(200, 200, 200, .5);position: fixed;padding-bottom: -68px;z-index: 999999; }

/*²àµ¼º½*/
.uk-nav{background-color: #ddd;overflow:hidden;height: 100%;min-height:100%;position:fixed;min-width:80px;left: -80px; top:68px;}
.uk-navleft,.uk-subnav{overflow-y: auto;height: 100%; float: left;}
.uk-navleft{width: 80px;background-color: #ddd;}
.uk-subnav {width: 160px;background-color: #ddd;}
.uk-hidemenu{ height: 110px; background: #111;position: fixed;width:auto;z-index: 9999999;width: 100%}
.uk-content { height: 100px; background: #fff;min-height: 800px;position:relative;width:auto;}
#uk-menu-trigger{ display:block; width:24px; height:21px;  padding-top:20px; margin-left:20px;}
.uk-offleft80{left:80px!important;}
.uk-offleft0{left: 0px!important;}
.uk-offleft240{left:240px!important;}

.uk-displaynone{display: none;}
.uk-content,.uk-hidemenu {top:68px;  left:0px; -webkit-transition:left 0.3s; -moz-transition:left 0.3s; transition:left 0.3s;}